.layout-boxes {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  text-align: center;
}

.filters {
  background: none;
}

.results {
  clear: both;
}

.input-box {
  margin-top: 15%;
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}
